<section class="visibility">
  <div class="grid-container">
    <div class="grid-x align-center">
      <div class="small-12 medium-10 cell">
        <div class="grid-x inner">
          <div class="section-title cell"><h2>BE VISIBLE</h2></div>
          <div class="medium-6 section-image medium-order-3 cell">
            <img src="{{root}}/assets/img/medium/visibilityPic.png" alt="">
          </div>
          <div class="medium-6 section-content align-self-middle medium-order-1 cell">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
          <div class="medium-order-4 cell">
            <a class="button" href="#">Silly baboon</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
