<section class="digiServices">
  <div class="grid-container">
    <div class="grid-x align-center">
      <div class="small-12 medium-10 cell">
        <div class="grid-x inner">
          <div class="cell">
            <div class="section-title"><h2>ONLINE SERVICES</h2></div>
            <div class="grid-x grid-margin-x large-up-3">
              <div class="cell silo">
                <div class="silo-title text-center"><h4>BE VISIBLE</h4></div>
                <div class="text-center"><a class="button" href="#">Silly baboon</a></div>
              </div>
              <div class="cell">
                <div class="silo-title text-center"><h4>BE VISIBLE</h4></div>
                <div class="text-center"><a class="button" href="#">Silly baboon</a></div>
              </div>
              <div class="cell">
                <div class="silo-title text-center"><h4>BE VISIBLE</h4></div>
                <div class="text-center"><a class="button" href="#">Silly baboon</a></div>
              </div>
              <div class="cell">
                <div class="silo-title text-center"><h4>BE VISIBLE</h4></div>
                <div class="text-center"><a class="button" href="#">Silly baboon</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
