
{{#ifequal page 'digital'}}
<section class="intro digital-intro">
  <div class="section-overlay">
    <div class="grid-container">
      <div class="grid-x align-center">
        <div class="medium-10 cell">
          <div class="grid-x inner">
            <div class="medium-6 medium-order-2 cell">
              <img src="{{root}}/assets/img/medium/digiHero.png" alt="">
            </div>
            <div class="medium-6 align-self-bottom cell">
              <h5>KATALIST <span>@</span> COMMUNICATIONS</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              <div class="medium-order-3 cell">
                <a class="button" href="#">Silly baboon</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{/ifequal}}
