

<section class="footer">
  <div class="grid-container">
    <div class="grid-x align-center">
      <div class="medium-10 cell">
        <div class="grid-x">
          <div class="cell">
            <ul class="menu vertical address">
              <li>27 Slater Road</li>
              <li>Kilnerpark</li>
              <li>Pretoria</li>
            </ul>
          </div>
          <div class="cell">

          </div>
          <div class="cell">

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
