<ul class="vertical menu" data-accordion-menu>
  <li><a href="#">SERVICES</a>
    <ul class="menu vertical nested">
      <li><a href="#">Brand</a></li>
      <li><a href="#">Web Apps</a></li>
      <li><a href="#">Mobile Apps</a></li>
     </ul>
  </li>
  <li><a href="#">PRODUCTS</a>
    <ul class="menu vertical nested">
      <li><a href="#">Product 1</a></li>
      <li><a href="#">Product 2</a></li>
      <li><a href="#">Product 3</a></li>
     </ul>
   </li>
  <li><a href="#">CITIES</a>
    <ul class="menu vertical nested">
      <li><a href="#">London</a></li>
      <li><a href="#">New York</a></li>
      <li><a href="#">Paris</a></li>
     </ul>
  </li>
 </ul>
<ul class="menu simple social-links">
  <li><a href="#" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
  <li><a href="#" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
  <li><a href="#" target="_blank"><i class="fa fa-github-square" aria-hidden="true"></i></a></li>
  <li><a href="#" target="_blank"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a></li>
</ul>
