<li class="{{#ifpage 'index'}}active{{/ifpage}}"><a href="./">Home</a></li>
<li class="{{#ifpage 'identity'}}active{{/ifpage}}"><a href="identity.html">Identity</a></li>
<li class="{{#ifpage 'digital'}}active{{/ifpage}}"><a href="digital.html">Digital</a></li>
<li class="{{#ifpage 'graphic'}}active{{/ifpage}}"><a href="graphic.html">Graphic</a></li>
<li class="{{#ifpage 'blog'}}active{{/ifpage}}"><a href="blog.html">Blog</a></li>
<li class="{{#ifpage 'contact'}}active{{/ifpage}}"><a href="contact.html">Contact</a></li>
<li>
  <button type="button" class="button hollow topbar-responsive-button">Categories</button>
</li>
