<section class="services">
  <div class="grid-container">
    <div class="grid-x align-center">
      <div class="medium-10 cell">
        <div class="grid-x grid-margin-x align-spaced">
          <div class="medium-4 identity-silo cell">
            <div class="section-title"><h4 class="text-center">Identity Design</h4></div>
            <div class="section-img text-center">
              <img src="{{root}}/assets/img/medium/IdIcon.png" alt="">
            </div>
            <div class="section-content">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div class="page-link">
              <button class="button" type="button" name="button">Contact us...</button>
            </div>
          </div>
          <div class="medium-4 digital-silo cell">
            <div class="section-title"><h4 class="text-center">Digital Design</h4></div>
            <div class="section-img text-center">
              <img src="{{root}}/assets/img/medium/DigIcon.png" alt="">
            </div>
            <div class="section-content">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div class="page-link">
              <button class="button" type="button" name="button">Contact us...</button>
            </div>
          </div>
          <div class="medium-4 graphic-silo cell">
            <div class="section-title"><h4 class="text-center">Graphic Design</h4></div>
            <div class="section-img text-center">
              <img src="{{root}}/assets/img/medium/GraphIcon.png" alt="">
            </div>
            <div class="section-content">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div class="page-link">
              <button class="button" type="button" name="button">Contact us...</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
