<section class="intro contact-intro">
  <div class="grid-container">
    <div class="grid-x align-center">
      <div class="medium-10 cell">
        <div class="grid-x">
          <div class="cell {{section-title}}">
            <h5>KATALIST <span>@</span> COMMUNICATIONS</h5>
          </div>
          <div class="medium-6 cell">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
